@{
    ViewData["Title"] = "Home Page";
    Layout = "_layout_Admin";
}

<table class="table mb-3">

    <thead>
        <tr>
            <th scope="col" class="">Gula Darah Puasa (tidak Makan 8-10 jam)</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Normal</th>

            <td>70 - 100 mg/dl</td>
        </tr>

        <tr class="table-primary">
            <th scope="row">Pra Diabetes</th>

            <td>100 - 125 mg/dl</td>
        </tr>
        <tr class="table-danger">
            <th scope="row">Diabetes</th>

            <td>> 126 mg/dl</td>
        </tr>
    </tbody>
</table>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col" class="">Gula Darah 2 jam setelah makan</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Normal</th>

            <td><- 140 mg /dl</td>
        </tr>

        <tr class="table-primary">
            <th scope="row">Pra Diabetes</th>

            <td>140 - 199 mg/dl</td>
        </tr>
        <tr class="table-danger">
            <th scope="row">Diabetes</th>

            <td>-> 200 mg/dl</td>
        </tr>
    </tbody>
</table>
